{% extends 'core/base.html' %}
{% load static %}
{% block title %}Issues{% endblock title %}
{% block ms %} 
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class='alert alert-{{message.tags}} alert-dismissible fade show' {% endif %} >{{message}}
            <button type="button" class="close " data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            </div>
{% endfor %}
{% endif %}
{% endblock ms %}
{% block side %}

<div class='text-white jumbotron-fluid  jumbo-color my-2'>
   <h3 > {{pm.title}} </h3>
</div>
{% endblock side %}
{% block content %}
{% for p in pm %}
<div class='text-white col-sm-6 center  jumbotron-fluid  jumbo-color my-2'>
   <h3 > {{p.title}} </h3>
   <p> {{p.date}} </p>
   <p> {{p.body}} </p>
    {% if perms.yougo.change_post %}
    <p><a href=" {% url 'updatepost' p.id %} " class='btn btn-primary'>Update</a>
    {% endif %}
    {% if perms.yougo.delete_post %}
    <a href=" {% url 'delete' p.id %} " class='btn btn-info'>Delete</a>
        </p>
    {% endif %}
</div>
{% endfor %}
{% endblock content %}
