
<nav>
    <div class="logo">
       <a href=""> <img src="" alt="" srcset=""></a>
    </div>
    <div class="navbar">
        <ul class="navbar-nav">
        <li><a href="">Home</a> </li>
        <li><a href="">About</a> </li>
        <li><a href="">Services</a> </li>
        <li><a href="">Services</a> </li>
        </ul>
    </div>

<div class="navbar">
    <ul class="navbar-auth">
        <li><a href=" ">Signup</a> </li>
        <li><a href="">Login</a> </li>
        <li> <a href="">Logout</a> </li>
    </ul>
</div>
</nav>